<div class="parent">
    <div class="child">
        <form (ngSubmit)="login()">
            <fieldset>
                <legend>Bejelentkezés</legend>
                <label for="email">Email cím:</label>
                <input type="email" name="email" [(ngModel)]="email" required>
                <br>
                <label for="password">Jelszó:</label>
                <input type="text" name="password" [(ngModel)]="password" required>
            </fieldset>
        </form>
        <div class="button">
            <input type="submit" value="Bejelentkezés" (click)="login()">
        </div>
    </div>
</div>